# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Data & outputs
data/
outputs/
runs/
checkpoints/
cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset
data/